/* src/components/PopularCategories.css */

.category-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .category-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(0.7);
  }
  
  .category-card-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
  }
  /* Courses.css */
